<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>Log in</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="/urls">TinyApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </header>
  <main style="margin: 1em;">
    <div>
      <h3>Log in</h3>

      <h4>Don't have an account yet? <a href="/register">Register here</a></h4>
    </div>
    <div class="card-footer text-muted">
      <form method="POST" action="/login">
        <label>Email</label>
        <input name="email" type="email">
        <br />
        <label>Password</label>
        <input name="password" type="password">
        <br />
        <button type="submit">Log in</button>
      </form>
    </div>
  </main>
</body>
</html>